.section {
    background-color: whitesmoke;
    padding: 20px;
    margin: 20px auto;
    line-height: 2;
    box-shadow: 2px 2px 8px #ccc;
    max-width: 1000px;
}

.section__header {
    color: rgb(61, 61, 68);
}

.section__container {
    overflow-x: auto;
} 

.section__quotation {
    max-width: 300px;
    text-shadow: 2px 2px 3px rgb(75, 75, 75);
    margin: auto;
}