.table {
    border-collapse: collapse;
    max-width: 100%
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 20px;
}

.table__cell--header {
    border: 2px solid rgb(46, 46, 46);
    padding: 20px;
    text-align: center;
    background-color: #3f444e;
    color: white;
    font-weight: normal;  
}

.table__cell {
    border: 2px solid rgb(46, 46, 46);
    padding: 20px;
    text-align: center;
}

.table__row:nth-child(even) {
    background: #eee;
}

.table__row:hover {
    background-color: hsl(0, 0%, 80%);
}
